*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.cd{
    width: 500px;
    height: 300px;
    background: rgb(235, 121, 121);
    padding-top: 30px;
    padding-bottom: 50px;
    margin-left: 600px;
    margin-top: 200px;
}

.cd button{
    color: #fff;
    background: #44f;
    width: 100px;
    height: 50px;
    border: none;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cd button:hover{
    color: #bbb;
    background: rgb(42, 42, 143);
}

.item{
    width: 300px;
    height: 50px;
    margin-left: 50px;
}

.cd h1{
    margin-left: 50px;
    margin-bottom: 20px;
}